/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

body {
    font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif;
}

.head {
    background-color: rgb(64,78,237);
    height: 80px;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.menu-head {
    line-height: 80px;
}

div, a {
    text-decoration: none;
}

li > a, .text-head > p, .text-head > h1, .btn-right > a{
    color: white;
}

.btn-head {
    display: inline-block;
    line-height: 40px;
}

.btn-head > a {
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
}

.btn-head > a, .btn-left > a{
    color: black;
}

.btn-left > a, .btn-right > a {
    display: inline-block;
    text-align: center;
    height: 40px;
    border-radius: 20px;
}

.btn-head > a:hover, .btn-left > a:hover {
    color: blue;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

/* Menu-nav */

.wd-20, img {
    display: block;
}

.wd-20 {
    float: left;
    height: 80px;
    width: 20%;
}

.wd-60 {
    float: left;
    height: 80px;
    width: 60%;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 20px;
}

.wd-20, a {
    text-align: right;
}

li > a:hover {
    color: black;
}

/* Img-Header */

.jumbotron {
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
    position: relative;
}

.text-head {
    position: absolute;
    width: 800px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 30px;
}

.jumbotron > .texthead, .jumbotron h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.text-head > p {
    font-size: 21px;
}

/* Main Informations */

.btn-left, .btn-right{
    display: inline-block;
    margin: 20px 20px;
    font-weight: bold;
    line-height: 40px;
}

.btn-left > a {
    width: 200px;
    background-color: white;
}

.btn-right > a {
    width: 300px;
    background-color: black;
}

.btn-right > a:hover{
    color: red;
}

/* Main */

/* Utilities-Main */

.img-area-conv, .text-area-conv, #text-area-left {
    float: left;
    min-height: 500px;
    width: 50%;
}

.margin-main {
    height: 700px;
    margin-top: 200px;
}

.text-area-conv {
    margin-top: 35px;
    padding-left: 200px;
}

.text-area-conv > p, #text-area-left > p {
    line-height: 30px;
    font-size: 22px;
}

.text-area-conv h1, .text-area-left h1{
    font-size: 50px;
    margin-bottom: 50px;
}
/* Section Main */

/* Section Dove Trovarsi */

#text-area-left {
    margin-top: 35px;
    padding-right: 200px;
}

/* Download */

.contain {
    height: 800px;
    position: relative;
    margin-top: 100px;
}

#head {
    position: relative;
    height: 20%;
    text-align: center;
}

#head h1 {
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

#head p {
    padding-top: 10px;
    font-size: 24px;
}

#body {
    position: relative;
    height: 70%;
    margin-bottom: 100px;
}

#body img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

#foot {
    height: 20%;
    text-align: center;
}

#text-download {
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 50px;
}

#text-download a {
    height: 10px;
    width: 10px;
    background-color: green;
}

/* Footer */

#
